<!DOCTYPE html>

<title>Регистрация</title>

<head>
    <h1>Регистрация</h1>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('process_reg')  }}" method="post">

        <p>{{  form.hidden_tag() }}</p>

        <p>Придумайте имя пользователя</p>
        {{ form.username }}<br>

    <p>
        <p>Придумайте пароль</p>
        {{ form.password1 }}<br>
    </p>
    <p>
        <p>Повторите пароль</p>
        {{ form.password2 }}<br>
    </p>
    <p>{{ form.submit() }}</p>
    </form>

    <a href="{{ url_for('index') }}">На главную</a><br>
</body>

